@model IEnumerable<AddCon_TravellingSalesman.Models.SalesmanModel>

<div class="line">
    <div class="unit size1of5 inactivePage">
        <ul data-role="listview" data-inset="true" data-split-icon="gear"> 
            @foreach (var item in Model) {
                <li>
                    <img src="~/Content/images/salesmanPlaceholder.jpg"/>
                    <p>
                        @Html.ActionLink("200km" + ":col1", "Details", new { id=item.ID }) <!-- @item.EMail -->
                    </p>
                </li>
            }
        </ul>
    </div>
    <div class="unit size1of5 inactivePage">
        <ul data-role="listview" data-inset="true" data-split-icon="gear"> 
            @foreach (var item in Model) {
                <li>
                    <img src="~/Content/images/salesmanPlaceholder.jpg"/>
                    <p>
                        @Html.ActionLink("Bio-Mulch" + ":col2", "Details", new { id=item.ID })
                    </p>
                </li>
            }
        </ul>
    </div>
    <div class="unit size1of5 inactivePage">
        <ul data-role="listview" data-inset="true" data-split-icon="gear"> 
            @foreach (var item in Model) {
                <li>
                    <img src="~/Content/images/salesmanPlaceholder.jpg"/>
                    <p>
                        @Html.ActionLink("Food" + ":col3", "Details", new { id=item.ID })
                    </p>    
                </li>
            }
        </ul>
    </div>
    <div class="unit size1of5 inactivePage">
        <ul data-role="listview" data-inset="true" data-split-icon="gear"> 
            @foreach (var item in Model) {
                <li>
                    <img src="~/Content/images/salesmanPlaceholder.jpg"/>
                    <p>
                        @Html.ActionLink("200km" + ":col1", "Details", new { id=item.ID }) <!-- @item.EMail -->
                    </p>
                </li>
            }
        </ul>
    </div>
    <div class="unit size1of5 lastUnit inactivePage">
        <ul data-role="listview" data-inset="true" data-split-icon="gear"> 
            @foreach (var item in Model) {
                <li>
                    <img src="~/Content/images/salesmanPlaceholder.jpg"/>
                    <p>
                        @Html.ActionLink("Bio-Mulch" + ":col2", "Details", new { id=item.ID })
                    </p>
                </li>
            }
        </ul>
    </div>
</div>



